DATABASE_HOST=127.0.0.1
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
MASTER_KEY=6322d75bb5a49aa2a55d96aa30c7c275
REDIS_URL=redis://localhost:6379/0
PRODUCTION_DATABASE_NAME=
PRODUCTION_DATABASE_HOST=
PRODUCTION_DATABASE_USER=
PRODUCTION_DATABASE_PASSWORD=